* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Satoshi-Regular", sans-serif;
	background-color: #161616;
	color: white;
}
#header {
	display: flex;
	justify-content: space-around;
	height: 60px;
	align-items: center;
}
#header nav {
	display: flex;
	align-items: center;
	min-width: 40%;
}
#header nav ul {
	display: flex;
	min-width: 100%;
	justify-content: space-between;
}
#header nav ul li {
	list-style-type: none;
}
#home {
	display: flex;
	justify-content: space-evenly;
	min-height: 85vh;
	align-items: center;
	flex-wrap: wrap;
}
#home div {
	max-width: 550px;
}
#home div h1 {
	font-size: 4em;
}
#home div p {
	font-size: 1.5em;
}
#home img {
	max-width: 275px;
}
/* MOBILE DEVICE */
@media screen and (max-width: 600px) {
	#home img {
		order: -1;
	}
}
