* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Satoshi-Regular", sans-serif;
	background-color: #161616;
	color: white;
}
#header {
	/* width: 100vw; */
	height: 70px;
	background-color: #161616;
	display: flex;
	align-items: center;
	position: sticky;
	top: 0px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}
#header div {
	width: 100vw;
	display: flex;
	justify-content: space-around;
}
#header a {
	text-decoration: none;
	color: white;
}
#header nav {
	display: flex;
	align-items: center;
	min-width: 40%;
}
#header i {
	display: none;
}
#header nav ul {
	display: flex;
	min-width: 100%;
	justify-content: space-between;
}
#header nav ul li {
	list-style-type: none;
}
#header nav ul li a {
	text-decoration: none;
	color: white;
	padding: 5px 15px;
	border-radius: 15px;
	border: 1px solid transparent;
	transition: border 0.3s ease;
}
#header nav ul li a:hover {
	border: 1px solid rgba(255, 255, 255, 0.3);
}
main {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#home {
	display: flex;
	justify-content: space-between;
	min-height: 90vh;
	min-width: 75vw;
	align-items: center;
	flex-wrap: wrap;
}
#home div {
	max-width: 550px;
}
.heading1 {
	font-size: 3.8em;
}
.paragraph {
	font-size: 1.3em;
}
#home img {
	max-width: 275px;
}
#berita {
	display: flex;
	flex-direction: column;
	gap: 20px;
	min-height: 65vh;
}
#berita div {
	width: 75vw;
	text-align: center;
}
.card_container {
	display: flex;
	gap: 20px;
}
.card {
	height: auto;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 10px;
	padding: 15px 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 10px;
	flex-wrap: wrap;
	transition: border 0.3s ease;
}
.card:hover {
	border: 1px solid rgba(255, 255, 255, 0.8);
}
main aside {
	position: fixed;
	inset-block: 0;
	inset-inline-end: 0;
}
.social_media {
	height: 100%;
	display: flex;
}
.social_media ul {
	padding: 1.5rem 1rem;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	margin: auto;
	background-color: #161616;
	border: 1px solid rgba(255, 255, 255, 0.3);
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;
	transition: border 0.3s ease;
}
.social_media ul:hover {
	border: 1px solid rgba(255, 255, 255, 0.8);
}
.social_media li {
	list-style-type: none;
}
.social_media li a {
	color: rgba(255, 255, 255, 0.3);
	transition: color 0.3s ease;
}
.social_media li a:hover {
	color: rgba(255, 255, 255, 1);
}
footer {
	min-height: 15vh;
	background-color: rgba(255, 255, 255, 0.05);
	display: flex;
	align-items: center;
	justify-content: center;
}

/* MOBILE DEVICE */
@media screen and (max-width: 600px) {
	body {
		display: flex;
		flex-direction: column;
		align-items: center;
		overflow-x: hidden;
	}
	#header {
		width: 100vw;
		height: 50px;
		justify-content: center;
	}
	#header div {
		width: 80vw;
		justify-content: space-between;
	}
	#header a h2 {
		font-size: 0.9em;
	}
	#header nav {
		display: none;
	}
	#header i {
		display: block;
	}
	main {
		gap: 20px;
	}
	#home {
		justify-content: space-evenly;
		min-height: 70vh;
	}
	#home div {
		width: 80vw;
		display: flex;
		flex-direction: column;
	}
	.heading1 {
		font-size: 2.2em;
	}
	.paragraph {
		font-size: 1em;
	}
	#home img {
		order: -1;
		width: 50vw;
	}
	#berita div {
		width: 80vw;
		display: flex;
		flex-direction: column;
	}
	footer {
		width: 100vw;
		margin-top: 30px;
		padding: 0px 20px;
	}
}
